<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LetsEatSignUp</title>
    <div th:replace="fragments/resources::accountHeadResources"></div>
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						회원가입
					</span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Email">
                    <input class="input100" type="text" name="email" placeholder="이메일">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
                    <input class="input100" type="password" name="password" placeholder="비밀번호">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Password Double Check">
                    <input class="input100" type="password" name="password" placeholder="비밀번호 재확인">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        회원가입
                    </button>
                </div>

                <div class="flex-col-c p-t-170 p-b-40">
                    <!-- todo 소셜 로그인 -->



                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/resources::accountScriptResources"></div>
</body>
</html>