<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/resources::mainHeadResources"></div>
</head>
<body id="page-top">
<!-- Navigation-->
<div th:replace="fragments/navigation::navigation"></div>
<div th:replace="fragments/fragment::intro"></div>
<!-- Portfolio Section-->

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">같이...먹을래요?</h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa--fork"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- 음식 관련 -->
            <th:block th:each="num: ${#numbers.sequence(1,6)}">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/hamburger.png" alt="..."/>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>
<!-- 모달 관련 -->
<div th:replace="fragments/fragment::foodModal"></div>
<div th:replace="fragments/footer::footer"></div>
<div th:replace="fragments/resources::mainScriptResources"></div>
</body>
</html>
